<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true">

  <targets async="true">
    <target name="file" xsi:type="File" fileName="${basedir}/Logs/Errors.txt" />
    <target name="mail" xsi:type="Mail"
             html="true"
             subject="LabelGenerator Error"
             body="An error occurred with LabelGenerator application: ${message}"
             to="withersc@bham.ac.uk"
             from="withersc@bham.ac.uk"
             Encoding="UTF-8"
             smtpUsername="username"
             enableSsl="false"
             smtpPassword="password"
             smtpServer="smtp.bham.ac.uk"
             smtpPort="25" />
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="file" />
    <logger name="*" minlevel="Off" writeTo="mail" />
  </rules>


</nlog>

